/* НАСТРОЙКИ ДЛЯ ВСЕГО */
* {
	font-family: MononokiNerdFont, Symbols Nerd Font;
	font-weight: bold;
	font-size: 17px;
	min-height: 0;
}

/* ЦВЕТА */
@define-color bg #1e1e2e; /* Base */
@define-color fg #cdd6f4; /* Text */
@define-color y #7287fd; /* Yellow */
@define-color g #7287fd; /* Green */

/* НАСТРОЙКИ САМОГО ТЕЛА БАРА */
window#waybar {
	background-color: @bg;
	transition-property: background-color;
	transition-duration: .5s;
	border-radius: 5;
}

/* МОДУЛЬ МЕНЮ (WOFI) */
#custom-menu {
	color: @fg;
	background-color: @bg;
	padding: 0px 5px;
	margin: 0px 0px 0px 10px;
}
#custom-menu:hover {
	color: @y;
	background-color: @bg;
	padding: 0px 5px;
	margin: 0px 0px 0px 10px;
}

/* МОДУЛЬ ВОРКСПЕЙСОВ */
#workspaces {
	padding: 0px 10px;
}

/* Кнопки воркспейсов: дефолтные/под курсором/активные/требующие внимания */
#workspaces button {
	padding: 0px;
	background-color: @bg;
	color: @fg;
}
#workspaces button:hover {
	padding: 0px;
	background-color: @bg;
	color: @fg;
}
#workspaces button.focused {
	color: @y;
}
#workspaces button.urgent {
	background-color: #f38ba8; /* Red */
}
button {
	box-shadow: inset 0 -3px transparent;
	border: none;
	border-radius: 0;
}
button:hover {
	background: inherit;
	box-shadow: inset 0 -3px @y;
}

/* МОДУЛЬ ФАЙЛОВОГО МЕНЕДЖЕРА */
#battery {
	color: @fg;
	background-color: @bg;
	padding: 0px 5px;
	margin: 0px 10px;
}
#custom-fm:hover {
	color: @y;
	background-color: @bg;
	padding: 0px 5px;
	margin: 0px 10px;
}

/* МОДУЛЬ СКРИНШОТА ОБЛАСТИ ЭКРАНА */
#custom-scren {
	color: @fg;
	background-color: @bg;
	padding: 0px;
	margin: 0px 0px 0px 5px;
	font-size: 15px;
}
#custom-scren:hover {
	color: @y;
	background-color: @bg;
	padding: 0px;
	margin: 0px 0px 0px 5px;
	font-size: 15px;
}

/* МОДУЛЬ ЗАПИСИ ЭКРАНА */
#custom-bt_battery {
	color: @fg;
	background-color: @bg;
	padding: 0px;
	margin: 0px 5px;
	font-size: 18px;
}
#custom-rec:hover {
	color: @y;
	background-color: @bg;
	padding: 0px;
	margin: 0px 5px;
	font-size: 22px;
}

/* МОДУЛЬ CMUS */
#custom-cmus {
	color: @fg;
	background-color: @bg;
	padding: 0px 30px;
	margin: 0px 5px;
}
#custom-cmus:hover {
	color: @y;
	background-color: @bg;
	padding: 0px 30px;
	margin: 0px 5px;
}

/* ЗАГРУЗКА ПРОЦА И ПАМЯТИ */
#custom-cpu {
	color: @fg;
	background-color: @bg;
	padding: 0px;
	margin: 0px;
	font-size: 18px;
}
#custom-memory {
	color: @fg;
	background-color: @bg;
	padding: 0px;
	margin: 0px 10px;
	font-size: 18px;
}

/* ТРЕЙ */
#tray {
	color: @fg;
	background-color: @bg;
	padding: 0px;
	margin: 0px 10px;
}

/* PULSEAUDIO */
#pulseaudio {
	color: @fg;
	background-color: @bg;
	padding: 0px;
	margin: 0px 10px;
}
#pulseaudio:hover {
	color: @y;
}

#custom-swaync {
	color: @fg;
	background-color: @bg;
	padding: 0px;
	margin: 0px 10px;
}
#custom-notification:hover {
	color: @y;
	background-color: @bg;
	padding: 0px;
	margin: 0px 10px;
}

/* ЛАНГУАГЕ */
#language {
	color: @fg;
	background-color: @bg;
	padding: 0px 0px 3px 0px;
	margin: 0px 10px;
	font-family: MononokiNerdFont;
	font-weight: bold;
	font-size: 22px;
}
#language:hover {
	color: @y;
	background-color: @bg;
	padding: 0px 0px 3px 0px;
	margin: 0px 10px;
	font-weight: normal;
	font-size: 22px;
}

/* ЧАСЫ */
#clock {
	color: @fg;
	background-color: @bg;
	padding: 0px;
	margin: 0px 10px;
}
#clock:hover {
	color: @y;
	background-color: @bg;
	padding: 0px;
	margin: 0px 10px;
}

/* МЕНЮ УПРАВЛЕНИЯ СЕАНСОМ */
#custom-power {
	color: @fg;
	background-color: @bg;
	padding: 0px;
	margin: 0px 10px;
	font-size: 22px;
}
#custom-power:hover {
	color: @y;
	background-color: @bg;
	padding: 0px;
	margin: 0px 10px;
	font-size: 22px;
}
